
body {
    background-image: url("img/footer_lodyas.png");
    margin: 50px auto;
    width: 1030px;
}
.clickbox {
    float: left;
    margin-top: 5px;
}
.clickbox img {
    padding-bottom: 10px;
    padding-left: 0px;
}
.mainbox {
    color: white;
    font-family: Comic Sans MS;
    font-size: 26px;
    text-align: center;
}
